<!DOCTYPE html>
<html>
  <head>
    <title>PinterstClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'index/navbar' %>
    <div class='container-fluid'>
      <%= yield %>
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-danger") %>
      <% end %>
    </div>
  </body>
</html>